//Copyright (C)2014-2022 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//GOWIN Version: 1.9.8.09 Education
//Part Number: GW1NR-LV9QN88PC6/I5
//Device: GW1NR-9C
//Created Time: Sat 03 18 02:28:58 2023

// clock&reset
IO_LOC "RST_N" 4;
IO_PORT "RST_N" IO_TYPE=LVCMOS18 PULL_MODE=UP;
IO_LOC "CLK_27M" 52;
IO_PORT "CLK_27M" IO_TYPE=LVCMOS33 PULL_MODE=UP;

// LED
IO_LOC "LED[0]" 10;
IO_PORT "LED[0]" PULL_MODE=UP DRIVE=8;
IO_LOC "LED[1]" 11;
IO_PORT "LED[1]" PULL_MODE=UP DRIVE=8;
IO_LOC "LED[2]" 13;
IO_PORT "LED[2]" PULL_MODE=UP DRIVE=8;
IO_LOC "LED[3]" 14;
IO_PORT "LED[3]" PULL_MODE=UP DRIVE=8;
IO_LOC "LED[4]" 15;
IO_PORT "LED[4]" PULL_MODE=UP DRIVE=8;
IO_LOC "LED[5]" 16;
IO_PORT "LED[5]" PULL_MODE=UP DRIVE=8;

// camera
IO_LOC "XCLK" 35;
IO_PORT "XCLK" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "PCLK" 36;
IO_PORT "PCLK" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "SCL" 34;
IO_PORT "SCL" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "SDA" 33;
IO_PORT "SDA" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "VSYNC" 37;
IO_PORT "VSYNC" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "HREF" 38;
IO_PORT "HREF" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "PIXDATA[0]" 31;
IO_PORT "PIXDATA[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "PIXDATA[1]" 30;
IO_PORT "PIXDATA[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "PIXDATA[2]" 29;
IO_PORT "PIXDATA[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "PIXDATA[3]" 28;
IO_PORT "PIXDATA[3]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "PIXDATA[4]" 27;
IO_PORT "PIXDATA[4]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "PIXDATA[5]" 26;
IO_PORT "PIXDATA[5]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "PIXDATA[6]" 25;
IO_PORT "PIXDATA[6]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "PIXDATA[7]" 32;
IO_PORT "PIXDATA[7]" IO_TYPE=LVCMOS33 PULL_MODE=UP;

// DVI
IO_LOC "O_tmds_clk_p" 69,68;
IO_PORT "O_tmds_clk_p" PULL_MODE=NONE DRIVE=8;
IO_LOC "O_tmds_data_p[0]" 71,70;
IO_PORT "O_tmds_data_p[0]" PULL_MODE=NONE DRIVE=8;
IO_LOC "O_tmds_data_p[1]" 73,72;
IO_PORT "O_tmds_data_p[1]" PULL_MODE=NONE DRIVE=8;
IO_LOC "O_tmds_data_p[2]" 75,74;
IO_PORT "O_tmds_data_p[2]" PULL_MODE=NONE DRIVE=8;